.CoinsNamePageContainer {
  .mainContainer {
    .iconBack {
      position: absolute;
      top: 12px;
      left: 20px;
      font-size: 40px;
      &:hover {
        cursor: pointer;
        color: aquamarine;
      }
    }

    .inline {
      @media (width >1149px) {
        display: flex;
        .componentCharts {
          flex-basis: 65%;
        }
        .componentPriceStatistics {
          margin-top: 6em;
          flex-basis: 35%;
        }
      }
    }
  }
}
